[Desktop Entry]
Encoding=UTF-8
Name=BitcoiNote Wallet
Comment=BitcoiNote wallet
Exec=bitcoinotewallet %U
Terminal=false
Type=Application
Icon=bitcoinote
MimeType=x-scheme-handler/bitcoinote;
Categories=Office;Finance;
